{% extends "shop/base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
Checkout
{% endblock %}
{% block content %}
<div class="container">
    <h1 class="text-center">Checkout</h1>
    <div class="order-info">
        <h3 class="text-center">Your order</h3>
        {% for x in account%}
        <h4 class="text-center">BOB Account Number: {{x.bob}}</h4>
        <h4 class="text-center">BNB Account Number: {{x.bnb}}</h4>
        <h4 class="text-center">PNB Account Number: {{x.pnb}}</h4>
        <h4 class="text-center">BDB Account Number: {{x.bdb}}</h4>
        {%endfor%}
        <ul>
            {% for item in cart %}
            <li style="color: white;">
                {{ item.quantity }}x {{ item.product.name }}
                <span>Nu{{ item.total_price }}</span>
            </li>
            {% endfor %}
        </ul>
        <h4 style="color: white;">Total: Nu{{ cart.get_total_price }}</h4>
    </div>
    <form action=""  enctype="multipart/form-data" method="post" >
        {{ form|crispy }}
        <p><input class="btn btn-primary btn-sm btn-block" type="submit" value="Place order"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}